# Custom
diradm.spec
README
ChangeLog
# Autotools
aclocal.m4
autom4te.cache/
config.cache
config.h
config.log
config.status
configure
diradm.log
diradm.sum
diradm-*.tar.bz2
diradm-*.tar.gz
Makefile
Makefile.in
site.exp
stamp-h1
stamp-h.in
