diradm.automount.sh
diradm.check.sh
diradm.common.sh
diradm.conf
diradm.group.sh
diradm.host.sh
diradm
diradm.misc.sh
diradm-mkpasswd.pl
diradm.samba.sh
diradm.shadow.sh
diradm.user.sh
superadduser.diradm
diradm
diradm.conf
diradm-mkpasswd.pl
Makefile
Makefile.in
diradm.check.sh
diradm.common.sh
diradm.group.sh
diradm.host.sh
diradm.misc.sh
diradm.samba.sh
diradm.user.sh
diradm.automount.sh
diradm.shadow.sh
superadduser.diradm
site.exp
